#container {
    margin: 20px;
}

#container::before {
    content: "Before Element";
    color: #f00;
    font-size: 20px;
	padding: 4px;
}

#container::after {
    content: "After Element";
    color: #f00;
    font-size: 20px;
	padding: 4px;
}
